<!doctype html>
<html>
<head charst="utf-8">
<title></title>
<style>
body { font-size: small; font-family: "맑은 고딕";}
h1, ul, li { margin: 0; padding: 0;}
li { list-style: none;}

a { background-color: #4F4532; color: #fff; text-decoration: none;}
a:hover { background-color: #6F6146; text-decoration: none}

ul { width: 200px; }
ul li { height: 32px; border-bottom: 1px solid #fff; text-indent: 10px;}
ul li a { display: block; width: 100%; height: auto; line-height: 32px; padding: 0 5px;}

.sub3 a { background: #BEB06F; color: #1A1303; font-weight: bold; }
</style>
</head>
<body>
<div class="section">
	<h1>메인카테고리</h1>
	<ul>
		<li><a href="#">가전제품</a></li>
		<li><a href="#">식/음료</a></li>
		<li class="sub3"><a href="#">의류/가방</a></li>
		<li><a href="#">등산용품</a></li>
		<li><a href="#">재활용 용품/환경코너</a></li>
	</ul>	
</div>



</body>
</html>