<!doctype html>
<html>
<head charst="utf-8">
<title></title>
<style>
body { font-size: small; font-family: "맑은 고딕";}
h1, ul, li { margin: 0; padding: 0;}
li { list-style: none;}

a { color: #000; text-decoration: none;}
a:hover { text-decoration: none}

ul { width: 200px; }
ul li { display: inline; text-indent: 30px;}

ul li a { display: block; width: 190px; height: 41px; padding-left: 10px; line-height: 41px; background: #94B8E9 url("../images/pixy-rollover.gif") no-repeat left bottom; }
ul li a:hover { background-position: -200px 0;}

</style>
</head>
<body>
<div class="section">
	<h1>메인카테고리</h1>
	<ul> 
		<li><a href="#">이메일 확인하기</a></li> 
		<li><a href="#">책 쓰기</a></li> 
		<li><a href="#">장보기</a></li> 
		<li><a href="#">저녁식사 준비하기</a></li> 
		<li><a href="#">드라마 보기</a></li> 
	</ul> 					
</div>


</body>
</html>