@charset "utf-8"; 

/* Modal Windowed Login */
html, body{ height:100%; margin:0;}
.mwLogin{ display:none; position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; z-index:10000;}
.mwLogin.open{ display:block;}
.mwLogin .bg{ position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:.5; filter:alpha(opacity=50);}
#login{ position:absolute; width:328px; top:50%; left:50%; padding:28px 28px 0 28px; margin:-150px 0 0 -194px; border:2px solid #555; font-size:12px; font-family:Tahoma, Geneva, sans-serif; line-height:normal; background:#fff; white-space:normal; color:#767676;}
#login form{ display:none; margin:0; padding:0;}
#login fieldset{ border:0; margin:0; padding:0;}
#login legend{ position:absolute; left:0; top:0; width:1px; height:1px; font-size:0; line-height:0; visibility:hidden;}
#login .btnLogin,
#login .btnLogin input{ position:relative; display:inline-block; margin:0; padding:0; overflow:visible; height:32px; line-height:32px; font-size:12px; font-weight:bold; color:#fff; vertical-align:middle; cursor:pointer; border:0; text-decoration:none !important; background:transparent url(btnLogin.gif) no-repeat;}
#login .btnLogin{ margin:0 4px 0 0; background-position:left top;}
#login .btnLogin input{ left:4px; background-position:right top; *vertical-align:top; padding:0 24px 0 36px;}
#login .iClear{ position:relative;}
#login .iLabel{ display:block; position:static; top:9px; font:bold 11px Tahoma;}
#login .iText{ position:relative; display:block; font:bold 11px Tahoma; height:14px; color:#767676; border:1px solid #b7b7b7; border-right-color:#e1e1e1; border-bottom-color:#e1e1e1; background:transparent;}
#login .help{ position:relative; float:none; display:block; border:0; border-top:1px solid #d9d9d9; background:#fafafa; padding:15px 0; margin:0 -28px; list-style:none; text-align:center; *zoom:1;}
#login .help li{ display:inline; float:none; border-left:1px solid #c3c3c3 !important; padding:0 6px 0 10px; margin:0; line-height:1;}
#login .help li.first{ border:0 !important;}
#login .help a{ float:none; display:inline; background:none; line-height:1; padding:0; font-size:11px; color:#767676; text-decoration:none; font-family:Dotum, 돋움, Sans-serif;}
#login .help a:hover,
#login .help a:active,
#login .help a:focus{ text-decoration:underline; color:#000;}
#login .gLogin .iLabel{ left:10px;}
#login .gLogin .iText{ width:316px; padding:8px 0 6px 10px; margin:0 0 5px 0;}
#login .gLogin .btnLogin{ position:absolute; top:103px; right:28px;}
#login .gLogin .keeping{ float:none; height:32px; line-height:32px; margin:10px 0; padding:0;}
#login .gLogin .keeping label{ position:static; cursor:pointer; font-family:Dotum, 돋움, Thahoma;}
#login .gLogin .iCheck{ width:13px; height:13px; margin:0 4px 0 0; padding:0; vertical-align:middle;}
#login .gLogin .warning{ display:none; float:none; margin:10px 0; line-height:1.4;}
#login .gLogin .warning.open{ display:block;}
#login .oLogin{ text-align:center;}
#login .oLogin .iLabel{ left:36px;}
#login .oLogin .iText{ width:291px; padding:8px 0 6px 35px; margin:0; background:url(iconOpenId.gif) no-repeat 10px center;}
#login .oLogin .btnLogin{ margin-top:10px; margin-bottom:10px;}
#login.gLogin .gLogin,
#login.oLogin .oLogin{ display:block;}
#login .close{ position:absolute; top:0; right:0; width:25px; height:25px; border:0; padding:0; background:transparent; overflow:visible; cursor:pointer; text-align:center; font:11px/25px Verdana, Geneva, sans-serif; color:#ccc; text-decoration:none !important;}