@charset "utf-8"; 

/* Registration Form */
.regist{ margin:0; padding:0; font-size:12px; font-family:Tahoma, Geneva, sans-serif;}
.regist fieldset{ margin:0 0 30px 0; padding:0; _padding-bottom:30px; border:0;}
.regist legend{ margin:0; padding:5px 0; font:bold 14px Dotum, 돋움;}
.regist legend .icon{ font-weight:normal; font-size:16px; color:#999; vertical-align:middle;}
.regist input,
.regist textarea,
.regist select,
.regist button{ font-size:12px; font-family:Tahoma, Geneva, sans-serif;}
.regist em{ font-style:normal; color:#f60;}
.regist label{ color:#666; margin:0 10px 0 0; cursor:pointer;}

.regist ul{ position:relative; overflow:hidden; margin:0; padding:0; color:#666; list-style:none; border-top:2px solid #999; border-bottom:1px solid #ccc; *zoom:1;}
.regist li{ position:relative; clear:both; border:1px solid #eee; border-left:0; border-right:0; margin:-1px 0; padding:8px 0; vertical-align:top; *zoom:1;}
.regist li:after{ content:""; display:block; clear:both;}
.regist li .btnRegist{ margin:2px 10px 2px 0;}

.regist .iText,
.regist textarea{ padding:0 4px; margin:2px 0; border:1px solid #b7b7b7; border-right-color:#e1e1e1; border-bottom-color:#e1e1e1; background:transparent; color:#666;}
.regist input.iText{ width:200px; height:22px; line-height:22px; vertical-align:middle; margin-right:10px;}
.regist input.iFile{ margin:2px 10px 2px 0; vertical-align:middle;}
.regist input.address{ width:500px;}
.regist textarea.sign{ width:590px; height:60px; padding:3px 4px;}
.regist .iCheck,
.regist .iRadio{ margin:0; padding:0; width:13px; height:13px; vertical-align:middle;}

.regist .tLabel{ font-weight:bold; margin:0 10px 0 0; color:#333;}
.regist .iLabel{ display:block; position:static; top:15px; left:5px; color:#333; font-weight:bold;}
.regist .iLabel em{ font-weight:normal;}

.regist .desc{ margin:0; color:#666; line-height:22px; vertical-align:middle;}
.regist .question{ font-weight:bold; color:#333; margin:0 0 5px 0;}
.regist .answer{ margin:0;}

.regist .btnArea{ margin:1em 0; text-align:center; *zoom:1;}
.regist .btnArea:after{ content:""; display:block; clear:both;}
.regist .btnArea .fLeft{ float:left;}
.regist .btnArea .fRight{ float:right;}

.regist .btnRegist,
.regist .btnRegist *{ position:relative; display:inline-block; vertical-align:top; height:24px; line-height:24px; border:0; overflow:visible; background:url(btnRegistration.gif) no-repeat; white-space:nowrap; cursor:pointer;}
.regist .btnRegist{ background-position:left top; margin-right:2px;}
.regist .btnRegist *{ background-position:right top; left:2px; padding:0 8px 0 6px; font-size:12px; color:#333; text-decoration:none !important;}
.regist .btnRegist.strong *{ font-weight:bold;}
